@charset "utf-8";

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #111;
  color: white;
  font-family: 'Finger Paint', 'Nunito Sans', sans-serif;
}

.container {
  text-align: center;
}

h1 {
  top: 20vh;
  position: fixed;
  margin: 0;
}

.select-container {
  position: fixed;
  top: 30vh; /* Adjust as needed */
  margin-bottom: 6vh;
}

#shapeSelect,
#colorSelect {
  padding: 5px;
  color: #fff;
  background-color: #333;
  border-radius: 5px;
}

.shape-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 5px;
  margin-top: 20px;
}

.shape {
  border: 2px solid black;
  border-radius: 50%;
  cursor: pointer;
  width: 45px;
  height: 45px;
}

#messageContainer {
  color: #ffffff;
  bottom: 20vh;
  position: fixed;
  z-index: 1;
}

label,
select,
button {
  margin: 0 5px; /* Adjust if needed */
  border-radius: 5px;
}

button {
  background-color: #09f;
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #007acc;
}

.fa {
  font-size: 20px;
  margin-right: 5px;
}

.flex-container {
  margin-bottom: 20px;
}

.shape-bg {
  display: none;
  background-color: #333;
  padding: 5px 20px 20px;
  margin-bottom: 20px;
}

.shape-container {
  margin-top: 10px;
}
