@charset "utf-8";

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #111;
  color: white;
  font-family: 'Nunito Sans', sans-serif;
}

h1 {
  font-family: 'Finger Paint', cursive;
}

.shape-container {
  margin-left: 79vh;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 5px;
  padding-left: 8vh;
  position: relative;
  z-index: 0;
}


.shape {
  width: 36px;
  height: 36px;
  border: 2px solid black;
  border-radius: 50%;
  cursor: pointer;
  transform: translateY(100%) translateX(-100%);
}

#messageContainer {
  color: #ffffff;
  margin-top: 25px;
  position: relative;
  z-index: 1;
}

label, select, button {
  margin-right: 10px;
  border-radius: 5px;
}

button {
  background-color: #09f;
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #007acc; 
}

select {
  padding: 5px;
  color: #fff;
  background-color: #333;
}

.fa {
  font-size: 20px;
  margin-right: 5px;
}

.flex-container {
  display: flex;
  margin-bottom: 20px;
}

.menu-up {
  position: relative;
}

.menu-up option {
  background-color: #333;
  color: white;
}

.menu-up::before {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px;
  pointer-events: none;
}

.menu-up:hover::before {
  content: '\25B2';
}
