@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    outline: none;
    border-style: none;
    vertical-align: baseline;
    box-sizing: border-box;
}

body {
    background-color: #1a1d28;
    font-family: "Finger Paint", "Open Sans", Arial, sans-serif;
}

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}